body, div, p, h3 {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei","PingHei","Helvetica Neue","Helvetica";
}

.blug-bg {
  position: fixed;
  top: 0;
  width: 100%;
}

.text-logo {
  position: absolute;
  margin-left: 6%;
  margin-top: 40px;
  width: 88%;
}

.content-box {
  width: 90%;
  height: 480px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  background: #fff;
  margin: 0 auto;
  position: relative;
  top: 108px;
}

.top-title {
  width: 90%;
  margin: 0 auto;
  line-height: 48px;
}

.top-title h3 {
  font-size: 1.3rem;
  color: #333;
  width: 70%;
  float: left;
  font-weight: normal;
}

.bgr-blue {
  background: #028aff;
  font-size: 18px;
  border-radius: 20%;
  padding: 3px;
  color: white;
}

.time2 {
  padding-top: 5px;
  text-align: center;
  font-size:1.3rem;
  color:black;
  font-weight: bold;
}

.sync-time, .valid-time {
	width:90%;
	margin:0 auto;
	text-align:center;
	line-height:24px;
	font-size:0.9rem;
	color:#999;
}

.qr {
	margin:15px auto;
	text-align: center;
	margin:0 auto;
}

.hzjkm {
	margin-top: 10px;
	margin-bottom: 10px;
	width:100%;
	text-align:center;
	line-height:24px;
	font-size:1rem;
	color: #55b957;
}

.tip{
	width:100%;
	text-align:center;
	line-height:24px;
	font-size:1rem;
	color:#666;
}

.bottom-tip{
	width:80%;
	margin:140px auto 0 auto;
}

.bottom-tip h3{
	float:left;
	font-size:1rem;
	color:#999;
	font-weight:normal;
	width:70%;
}

.link-btn{
	width:30%;
	float:right;
	text-align:right;
	color:#028aff;
	text-decoration:none;
	font-size:1.1rem;
}
